<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Scatch</title>
    <style>
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        nav a{
            text-decoration: none;
            color: none;
        }
        nav a h3{
            font-weight: 400;
        }
        .cart-container hr{
            width: 92%;
            margin: 0 auto;
        }
        @media (max-width:920px) {
            nav .logo h1{
                font-size: 5vw;
            }
            .links a h3{
                font-size: 3vw;
            }
        }
        @media (max-width:520px) {
            nav .logo h1{
                font-size: 6vw;
            }
            .links a h3{
                font-size: 4vw;
            }
            nav{
                padding: 15px 30px;
            }
        }
    </style>
</head>
<body>
    <%- include("../includes/flash.ejs") %> 
    <nav>
        <div class="logo">
            <a href="/shop"><h1>Scatch</h1></a>
        </div>
        <div class="links">
            <a href="/shop"><h3>Home</h3></a>
        </div>
    </nav>
    <hr>
    <div class="cart-container">
        <% if(cart.length == 0){ %>
            <div class="empty-cart">
                <p>Your cart is empty. Please add some products to your cart.</p>
                <a href="/shop"><button>Shop Now</button></a>
            </div>
        <% }else{ %>
            <div class="cart-heading">
                <h3>Items</h3>
                <h3>Name</h3>
                <h3>Price</h3>
                <h3 class="cart-h-q">Quantity</h3>
                <h3 class="cart-h-t">Total</h3>
                <h3>Remove</h3>
            </div>
            <hr>
            <% for(let cartItem of cart){ %>
                <div class="cart-items">
                    <div class="cart-img">
                        <img src="<%= cartItem.productId.image.url %>" alt="">
                    </div>
                    <h3 class="p-name"><%= cartItem.productId.productname%></h3>
                    <h3 class="cart-price">₹<%= cartItem.productId.price%></h3>
                 
                        <div class="quantity-control">
                            
                            <form action="/shop/cart/update" method="post">
                                <input type="hidden" name="productId" value="<%= cartItem.productId._id %>">
                                <input type="hidden" name="action" value="decrease">
                                <button type="submit" class="decrease-btn"<% if(cartItem.quantity == 1){ %> disabled style="cursor: not-allowed;" <% } %>>-</button>
                            </form>
                            <p><%= cartItem.quantity%></p>
                            <form action="/shop/cart/update/" method="post">
                                <input type="hidden" name="productId" value="<%= cartItem.productId._id %>">
                                <input type="hidden" name="action" value="increase">
                                <button type="submit" class="increase-btn">+</button>
                            </form>
                        </div>
                        <h3>₹<%= cartItem.productId.price * cartItem.quantity%></h3>
                        <form action="/shop/cart/remove/<%= cartItem.productId._id%>" method="post">
                            <button class="cart-x-button"><i class="fa-solid fa-xmark"></i></button>
                        </form>
                    
                </div>
                <hr>
            <% } %>
        <% } %>
    </div>
    <div class="cart-container-mobile">
        <% if(cart.length == 0){ %>
            <div class="empty-cart empty-m">
                <p>Your cart is empty. Please add some products to your cart.</p>
                <a href="/shop"><button>Shop Now</button></a>
            </div>
        <% }else{ %>
            <div class="cart-main-m">
                <% for(let cartItem of cart){ %>
                    <div class="cart-products-m">
                        <div class="cart-img-m">
                            <img src="<%= cartItem.productId.image.url %>" alt="">    
                        </div>
                        <div class="cart-items-m">
                            <div class="cart-items-sub-m">
                                <h3><%= cartItem.productId.productname%></h3>
                                <div class="quantity-control-m">
                            
                                    <form action="/shop/cart/update" method="post">
                                        <input type="hidden" name="productId" value="<%= cartItem.productId._id %>">
                                        <input type="hidden" name="action" value="decrease">
                                        <button type="submit" class="decrease-btn"<% if(cartItem.quantity == 1){ %> disabled style="cursor: not-allowed;" <% } %>>-</button>
                                    </form>
                                    <p><%= cartItem.quantity%></p>
                                    <form action="/shop/cart/update/" method="post">
                                        <input type="hidden" name="productId" value="<%= cartItem.productId._id %>">
                                        <input type="hidden" name="action" value="increase">
                                        <button type="submit" class="increase-btn">+</button>
                                    </form>
                                </div>
                                <div class="cart-price-m">
                                    <h3 class="cart-original-price-m">₹<%= cartItem.productId.price%></h3>
                                    <h3 class="cart-total-price-m">₹<%= cartItem.productId.price * cartItem.quantity%></h3>
                                </div>
                                <form action="/shop/cart/remove/<%= cartItem.productId._id%>" method="post">
                                    <button class="cart-remove-m">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <% } %>
            </div>
        <% } %>
    </div>
    <% if(cart.length !== 0){ %>
        <% let finalTotal = 0; %>
        <% for(let cartItem of cart){ %>
            <% finalTotal += cartItem.productId.price * cartItem.quantity; %>
        <% } %>
        <div class="cart-wrap">
            <div class="cart-bill">
                <div class="cart-bill-one">
                    <h1>Cart Total</h1>
                    <div class="cart-bill-title">
                        <div class="cart-bill-sub">
                            <h4>Subtotal</h4>
                            <h4>₹<%= finalTotal %></h4>
                        </div>
                        <hr>
                        <div class="cart-bill-sub">
                            <h4>Delivery Fee</h4>
                            <h4>Free</h4>
                        </div>
                        <hr>
                        <div class="cart-bill-sub">
                            <h4 class="final-total">Total</h4>
                            <h4 class="final-total">₹<%= finalTotal %></h4>
                        </div>
                    </div>
                    <form action="/shop/cart/checkout" method="post">
                        <button class="checkout-button">PROCEED TO CHECKOUT</button>
                    </form>
                </div>
                <div class="cart-bill-two">
                    <div class="cart-promo">
                        <h3>If you have a promo code,Enter it here</h3>
                        <form action="/shop/cart/promo">
                            <input type="text" placeholder="Promo code">
                            <button>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <script src="/js/alert.js"></script>   
</body>
</html>

