<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Scatch</title>
</head>
<body>
    <%- include("../includes/navbar.ejs") %>
    <div class="order-container">
        <div class="order-main">
            <h1>My Orders</h1>
            <% if (user.orders.length > 0) { %>
                <% user.orders.forEach(order => { %>
                    <% let total = order.totalAmount%>
                    <div class="order-item">
                        <div class="order-productname">
                        <img src="/images/parcel_icon.png" alt="">
                        <div class="order-productname-text">
                        <% order.products.forEach(productItem => { %>
                                <h4><%= productItem.product.productname %> x <%= productItem.quantity %></h4>
                        <% }) %>
                        </div>
                        </div>
                        <h4>₹ <%= total%></h4>
                        <div class="order-s">
                            <div class="order-status"></div>
                            <h4><%= order.status %></h4>
                        </div>
                        <button>Track Order</button>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No orders found.</p>
            <% } %>
        </div>
    </div>
</body>
</html>
