<% layout("/layouts/boilerplate") %>

<body>
    <div class="shop">
        <div class="product-list">
            <div class="product-list-flex">
                <% for(let product of products){ %>
                    <div class="product-card">
                        <div class="product-img" style="background-color:<%= product.bgcolor %> ;">
                            <img src="<%= product.image.url %>" alt="">
                        </div>
                        <div class="product-panel" style="background-color:<%= product.panelcolor %> ;">
                            <div class="product-text"  style="color:<%= product.textcolor%> ;">
                                <h4><%= product.productname %></h4>
                                <p>₹ <%= product.price %> 
                                <% if(product.discount !== 0){ %>
                                    <span class="discount">-<%= product.discount %>%</span></p>
                                <% } %>
                            </div>
                            <div class="product-cart">
                                <form action="">
                                    <button><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>      
            </div>
        </div>
    </div>
</body>